.container{
    width: 1400px;
    margin: 0 auto;
}
.block{
    width: 100%;
    height: 300px;
    background: grey;
}
.title_block{
    padding-top: 10px;
}
.title_block h1{
    font-size: 40px;
    line-height: 35px;
    text-align: center;
}
.text_block{
    padding-top: 10px;
}
.text_block p{
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}
.button_block{
    text-align: center;
}
.button{
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background: #E2E2E2;
    color: #000000;
    border: none;
}