.container{
    width: 1400px;
    margin: 0 auto;
}
.main-block{
    display: flex;
    justify-content: space-around;
}
.block{
    width: 650px;
    border: 1px solid #000;
    border-radius: 10px;
}
.title-block{
    text-align: center;
}
.text-block p{
    text-align: center;
    margin: 0 auto;
    width: 500px;
    padding-bottom: 10px;
}